{% extends "layout.html" %}

{% block title %}Awards{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}
<main class="flex-grow mb-10 bg-amber-50 pt-20" style="background-image: url('https://static.igem.wiki/teams/5425/petals.png');">
  
    <img src="https://static.igem.wiki/teams/5425/page-elements/awards-66faf2bbe257c.webp" style="height:200px; width:200px; border-radius: 20px; margin-left: 42%;" class="items-center w-full h-96 mt-20" alt="Inclusivity Banner">
    
    <!-- Heading Section -->
    <div class="heading" style=" padding: 20px; border-radius: 10px;">
        <h1 class="text-6xl font-bold text-center">Awards</h1>
        <h2 class="text-4xl font-semibold text-center mt-10">Bronze</h2>
        
            <!-- Bronze Table -->
    <div class="overflow-x-auto mt-5">
        <table class="min-w-full border border-gray-300 bg-white shadow-md sm:rounded-lg">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 text-left text-gray-700">Deliverables</th>
                    <th class="px-4 py-2 text-left text-gray-700">Links</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t border-gray-300">
                    <td class="px-4 py-2 text-left text-gray-700">Wiki</td>
                    <td class="px-4 py-2 text-left text-gray-700"><a href=https://2024.igem.wiki/iiser-kolkata/ style="color: green" target="_blank">https://2024.igem.wiki/iiser-kolkata/</a></td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="px-4 py-2 text-left text-gray-700">Attributions</td>
                    <td class="px-4 py-2 text-left text-gray-700"><a href=https://2024.igem.wiki/iiser-kolkata/attributions style="color: green" target="_blank">https://2024.igem.wiki/iiser-kolkata/attributions</a></td>
                </tr>
                <!-- Add more rows as needed -->
                            <tr class="border-t border-gray-300">
                <td class="px-4 py-2 text-left text-gray-700">Project Descriptions</td>
                <td class="px-4 py-2 text-left text-gray-700"><a href=https://2024.igem.wiki/iiser-kolkata/description style="color: green" target="_blank">https://2024.igem.wiki/iiser-kolkata/description</a></td>
            </tr>
                        <tr class="border-t border-gray-300">
                <td class="px-4 py-2 text-left text-gray-700">Contribution</td>
                <td class="px-4 py-2 text-left text-gray-700"><a href=https://2024.igem.wiki/iiser-kolkata/contribution style="color: green" target="_blank">https://2024.igem.wiki/iiser-kolkata/contribution</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <h2 class="text-4xl font-semibold text-center mt-8">Silver</h2>
    <!-- Silver Table -->
    <div class="overflow-x-auto mt-5">
        <table class="min-w-full border border-gray-300 bg-white shadow-md sm:rounded-lg">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 text-left text-gray-700">Deliverables</th>
                    <th class="px-4 py-2 text-left text-gray-700">Links</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t border-gray-300">
                    <td class="px-4 py-2 text-left text-gray-700">Engineering Success</td>
                    <td class="px-4 py-2 text-left text-gray-700"><a href=https://2024.igem.wiki/iiser-kolkata/engineering style="color: green" target="_blank">https://2024.igem.wiki/iiser-kolkata/engineering</a></td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="px-4 py-2 text-left text-gray-700">Human Practices</td>
                    <td class="px-4 py-2 text-left text-gray-700"><a href=https://2024.igem.wiki/iiser-kolkata/human-practices style="color: green" target="_blank">https://2024.igem.wiki/iiser-kolkata/human-practices</a></td>
            </tbody>
        </table>
    </div>
    
        <h2 class="text-4xl font-semibold text-center mt-8">Gold</h2>
    <!-- Gold Table -->
    <div class="overflow-x-auto mt-5">
        <table class="min-w-full border border-gray-300 bg-white shadow-md sm:rounded-lg">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 text-left text-gray-700">Deliverables</th>
                    <th class="px-4 py-2 text-left text-gray-700">Links</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t border-gray-300">
                    <td class="px-4 py-2 text-left text-gray-700">Best Composite Part</td>
                    <td class="px-4 py-2 text-left text-gray-700"><a href=https://parts.igem.org/Part:BBa_K5425004 style="color: green" target="_blank">https://parts.igem.org/Part:BBa_K5425004</a></td>
                </tr>
                
                                <tr class="border-t border-gray-300">
                    <td class="px-4 py-2 text-left text-gray-700">Best Model</td>
                    <td class="px-4 py-2 text-left text-gray-700"><a href=https://2024.igem.wiki/iiser-kolkata/model style="color: green" target="_blank">https://2024.igem.wiki/iiser-kolkata/model</a></td>
                </tr>
                
                                <tr class="border-t border-gray-300">
                    <td class="px-4 py-2 text-left text-gray-700">Best Entrepreneurship</td>
                    <td class="px-4 py-2 text-left text-gray-700"><a href=https://2024.igem.wiki/iiser-kolkata/entrepreneurship style="color: green" target="_blank">https://2024.igem.wiki/iiser-kolkata/entrepreneurship</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</main>

{% endblock %}  
