{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #3</h4>
      <p>Describe how and why you chose your iGEM project.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2024 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>A clear and concise description of your project.</li>
      <li>A detailed explanation of why your team chose to work on this particular project.</li>
      <li>References and sources to document your research.</li>
      <li>Use illustrations and other visual resources to explain your project.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <p>Our feet, often the most neglected part of the body,are susceptible to fungal and bacterial infections due to the cosy</p>
    <p>, humid conditions in shoes. These infections cause itchy, flaky skin and foul odours, often ignored until they lead to 
     <p> serious secondary infections. Despite available antifungal and antibacterial treatments, they require frequent application</p>
     <p> and can be easily washed away. This is impractical for those with long working hours, such as office-goers, athletes, construction </p>
     <p> workers, and students, who cannot tend to their feet regularly. Existing fragrant products also pose environmental hazards. Inspired </p>
     <p> by these challenges, our project, E. solei, aims to provide a lasting, eco-friendly solution that keeps feet fresh, odour-free, and</p>
     <p>  protected from infections without the need for constant reapplication.</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Some advice</h2>
    <hr>
    <p>We encourage you to put up a lot of information and content on your wiki, but we also encourage you to include summaries as much as possible. If you think of the sections in your project description as the sections in a publication, you should try to be concise, accurate, and unambiguous in your achievements. Your Project Description should include more information than your project abstract.</p>
  </div>
  <div class="col-lg-4">
    <h2>References</h2>
    <hr>
    <p>iGEM teams are encouraged to record references you use during the course of your research. They should be posted somewhere on your wiki so that judges and other visitors can see how you thought about your project and what works inspired you.</p>
  </div>
</div>

{% endblock %}
