{% extends "layout.html" %}
    {% block title %}Home{% endblock %}
    {% block page_content %}
    <style>
        .svg-container {
            display: flex;
            background-color: aliceblue;
            flex-wrap: wrap;
            gap: 10px;
        }
    
        .svg-image {
            background-color: white;
            border: 1px solid #ccc;
            
        }
    </style>
    
    <div class="svg-container">
        <img id="svg1" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/home-page-1.svg" alt="SVG Image 1">
        <img id="svg3" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/page-3.svg" alt="SVG Image 3">
        <img id="svg2" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/home-page-2.svg" alt="SVG Image 2">
        <img id="svg4" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/home-page-4.svg" alt="SVG Image 4">
        <img id="svg5" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/home-page-5.svg" alt="SVG Image 5">
        <img id="svg2" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/page-6.svg" alt="SVG Image 6">
        <img id="svg3" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/page-7.svg" alt="SVG Image 7">
        <img id="svg4" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/page-8.svg" alt="SVG Image 8">
        <img id="svg5" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/page-9.svg" alt="SVG Image 9">
        <img id="gif1" class="image" src="https://static.igem.wiki/teams/5425/presentation-igem.gif" alt="GIF Image 1">
        <img id="svg3" class="svg-image" src="https://static.igem.wiki/teams/5425/page-11.svg" alt="GIF Image 1">
        <img id="svg3" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/page-11.svg" alt="SVG Image 11">
        <img id="svg4" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/page-12.svg" alt="SVG Image 12">
        <img id="svg5" class="image" src="https://static.igem.wiki/teams/5425/page-12.png" alt="SVG Image 13">

        <img id="svg5" class="svg-image" src="https://static.igem.wiki/teams/5425/home-page-1/13.svg" alt="SVG Image 13">

    </div>
    
    
    {% endblock %}
    
    <style>
        .svg-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    
        .svg-image {
            background-color: white;
            border: 1px solid #ccc;
            width: 150px; /* Adjust size if necessary */
            height: 150px; /* Adjust size if necessary */
            padding: 10px;
        }
    </style>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // JavaScript if needed
            console.log("SVGs loaded");
        });
    </script>