{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %} {% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"> -->
<!-- <link href="{{ url_for('static', filename = 'css/home.css') }}" rel="stylesheet"> -->
 <body>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v={{ current_time }}"> -->
   <section class="background-section">
     <div class="dummy-text">
       <h2>IISER-KOLKATA LANDING PAGE</h2>
      </div>
    </body>
</section>
</html>
{% endblock %}
