{% extends "layout.html" %}
{% block title %}Design{% endblock %}
{% block page_content %}
<section class="hero">
    <h1 id="design" class="vintage">NoteBook</h1>
    <div class="hero-buttons" id="hero-buttons">
        <button class="button" id="button1" onclick="scrollToSection('section1')">Records</button>
        <button class="button" id="button2" onclick="scrollToSection('section2')" aria-label="Go to Section 2">Parameters</button>
        <button class="button" id="button3" onclick="scrollToSection('section3')" aria-label="Go to Section 3">Proof</button>
    </div>
</section>

<div class="right-content">
  <section id="section1" class="content-section">
    <h1 style="text-align:center;">Lab Experiments</h1>
    <iframe class="styled-iframe" src="https://static.igem.wiki/teams/5425/wet-lab-records.pdf" frameborder="0"></iframe>
  </section>
  <section id="section2" class="content-section">
    <h1 style="text-align:center;">Parameters</h1>
    <iframe class="styled-iframe" src="https://static.igem.wiki/teams/5425/wet-lab-records.pdf" frameborder="0"></iframe>
  </section>
  <section id="section3" class="content-section">
    <h1 style="text-align:center;">Proof</h1>
    <iframe class="styled-iframe" src="https://static.igem.wiki/teams/5425/wet-lab-records.pdf" frameborder="0"></iframe>
  </section>
</div>

<button id="scrollToTopBtn" onclick="scrollToTop()">&#8679;</button>

<script>
     function scrollToSection(sectionId) {
        const section = document.getElementById(sectionId);
        section.scrollIntoView({ behavior: 'smooth' });
    } 

</script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/notebook.css') }}?v={{ current_time }}">
<link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'>
{% endblock %}
