{% extends "layout.html" %}

{% block title %}Parts{% endblock %}
{% block lead %}Describe the parts you used in your iGEM project.{% endblock %}

{% block page_content %}
    <style>
    body {
        background-image: url('https://static.igem.wiki/teams/5425/petals.png'); 
        height: 3000px; 
        width: 100vw;
        display: flex; 
        justify-content: center;
    }
    .header-back {
        height: 100%; 
        width: 100%; 
        position: absolute;
        top: 0; 
        left; 0; 
        background-image: url('https://static.igem.wiki/teams/5425/map/points.svg'); 
        background-size: cover;
    }
    .header-forward {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 10%;
    }
    .title {
        font-size: 4em; 
        z-index: 1; 
        position: relative; 
        top: 8%; 
        color: #b29ce4
    }
    .title-quote {
        position: absolute; 
        top: 40%; 
        font-size: 1.5em
    }
    .author {
        position: relative; 
        left: 90%;
    }
    .Overview {
        position: absolute; 
        top: 60%; left: 0; 
        width: 100%; 
        height: 63%; 
        background-color: #b29ce4
    }
    .Overview-title {
        position: absolute; 
        left: 5%; 
        top: -5%; 
        font-size: 4.5em; 
        color: #675591
    }
    .Overview-content {
        position: absolute; 
        top: 20%; 
        left: 5%;
        width: 90%;
        font-size: 1.5em; 
        color: #675591;
    }
    .section-list {
        position: absolute; 
        top: 68%; 
        left: 5%; 
        font-size: 1.5em;
        color: #675591;
    }
    .section-button {
        position: absolute; 
        left: 7%;  
        width: 15%; 
        height: 6%;
        background-color: #6c5a97; 
        color: #b19ce1; 
        border: 2px solid #000000;
        cursor: pointer; 
        font-weight: bold; 
        font-size: 18px; 
        border-radius: 10px;
    }
    .content-main {
        position: absolute; 
        left: 30%; 
        top: 125%; 
        width: 60%; 
        height: 150%; 
        overflow: auto; 
        background-color: white;
    }
    .cover-sheet {
        background-color: rgba(245, 245, 220, 0.5); 
        position: absolute; 
        top: 0%; 
        z-index: -1; 
        width: 100%; 
        height: 3000px;
    }
    </style>
        <div class="header-back">         
        </div>
        <div class="header-forward">
            <img src="https://static.igem.wiki/teams/5425/nav.svg" style="width:100%;">
        </div>
        <div class="heading"><b class="title">Math models</b></div>
        <p class="title-quote">“All models are approximations. Essentially, all models are wrong, but some are useful. However, the approximate nature of the model must always be borne in mind”<br>
        <b class="author">~ George Box</b>
</p>
        <div class="Overview">
        <p class="Overview-title">Overview</p>
        <p class="Overview-content">Models are an integral part of any scientific innovation to gain insights, as well as predict outcomes of several micromolecular and macromolecular behaviours/interactions which are too tedious to be experimented upon. We thus explore the various mathematical as well as computational models designed to quantify the qualitative understanding of different aspects of our project and thereby, enhance the entrancement of our Wetlab work.
<br>
<br>
We consequently put forward 4 essential models developed by incorporating the design of our various genetic circuits, and eventually proceed upon to develop an algorithm encoded accordingly to give us essential information about genetic and molecular behaviours enveloped within the midst of sense-antisense mRNA interaction to block protein expression.
<br>
<br>
Our modules are thus stated below :-
<ul class="section-list">
    <li>Quorum Sensing for Population Regulation</li>
    <li>Linalool Production by MEV Pathway</li>
    <li>Media-dependent Kill Switch</li>
    <li>Molecular Docking and Deep Learning</li>
</ul>
</p>
        </div>
    <div>
        <button class="section-button" style="top: 135%;">QSP</button>
        <button class="section-button" style="top: 160%;">QSP</button>
        <button class="section-button" style="top: 185%;">QSP</button>
    </div>
    <div class="content-main" style="position: absolute; left: 30%; top: 125%; width: 60%; height: 150%; overflow: auto; background-color: white;">
    <p>Our Linalool production model highlights the production of linalool by the mevalonate pathway in our bacteria, in the presence of the quorum sensing circuit in it. 
The mevalonate pathway uses Acetyl CoA and Aceto-acetyl CoA as the starting materials for production of linalool with the help of a set of enzymes catalysing the conversion of one intermediate to another. The MEV pathway is given below:-</p>
    <img src="https://static.igem.wiki/teams/5425/drylab/screenshot-2024-09-13-004043.webp">
    <p>The mevalonate pathway is incorporated inside the bacteria with the help of the MEV plasmid expressing the enzymes involved in the pathway. The genetic circuit of the MEV plasmid is given below :-</p>
    <img src="https://static.igem.wiki/teams/5425/drylab/screenshot-2024-09-13-233001.webp">
    <p>
Objective
We determine the concentration of linalool produced by the E.coli in the bacterial medium in presence of the quorum sensing circuit. The simulation is performed through a system of several ODEs to determine the linalool concentration above the shoe insole with time.
<br><br>
Model
We use simple enzyme kinetics to determine the production of Linalool starting from Acetyl-CoA and enumerate the concentrations of the intermediates. We thus generate a system of 12 ODEs governing the rate of production of each of the molecules and simulate them using Python to determine the concentration of the produced Linalool with time, both beneath the shoe insole and above the shoe insole.
<br><br>
Our ODE system is given below :-</p>
    <img src="/home/vizkid/Downloads/eq1.jpg">
    <p>NOTE: The parameters used for the quorum sensing model are the most suitable parameters initially set for obtaining the best desired result from the QS model, and not the parameters obtained after fitting our QS model with the Wetlab data.
    <br><br>
Explanation of the equations :-
The bacterial population, “N’, used here is the population curve obtained in presence of the quorum sensing circuit inside the bacteria, to effectively quantify the amount of Linalool produced in the presence of quorum sensing. 
Here, “E” is the concentration of each of the enzymes catalysing the reactions involved in the mevalonate pathway and produced by the MEV plasmid. 
<br><br>
IMPORTANT ASSUMPTIONS :-
We have assumed here that all the rate of gene expression in the MEV plasmid for the production of the enzymes is the same for all the enzymes as all the enzymes are downstream of the same promoter.
We have assumed that most of the enzymes have the similar half lives, and thus, same rates of degradation. This assumption has been made to reduce the number of ODEs for the model and make it more compact.
We assume that linalool diffuses from inside the shoe insole out to the external environment above the insole. The diffusion is governed by just the concentration gradient of linalool above and below the insole for the ODE model.
<br><br>
“ACA” refers to acetyl-coA, which is already present inside the cell at a certain concentration, and thus, it has its own intrinsic rate of production.
“Li” is the linalool concentration inside the shoe insole, that is, concentration of linalool directly above the bacterial medium. It gradually diffuses out of the shoe insole into the external environment through the semipermeable membrane of the shoe insole at a diffusion constant of “D”. The rate of diffusion is directly proportional to the concentration gradient between the linalool inside the shoe insole “Li” and the linalool outside the shoe insole “Lo”.
“Lo” refers to the linalool that has diffused out of the shoe insole and into the external environment. Apart from diffusing out of the shoe insole, it also has a rate of evaporation, “v”, as linalool is a volatile compound and evaporates at room temperature.
<br><br>
Plots :-
We solve the ODE system using Python and simulate it to determine the concentration of Linalool produced with time, in the presence of the quorum sensing circuit :-
</p>
<img src="https://static.igem.wiki/teams/5425/drylab/external-linalool.webp">
<img src="https://static.igem.wiki/teams/5425/drylab/internal-linalool.webp">
<img src="https://static.igem.wiki/teams/5425/drylab/oscillation-explanation.webp">
<img src="https://static.igem.wiki/teams/5425/drylab/0-1-2-3-4.webp">
<p>We observe that the oscillation observed in the cell population is consistent with the concentration of linalool produced over every time slot of simulation, that is, when the oscillating bacterial population reaches its peak population, the oscillatory linalool concentration also achieves its peak due to more bacteria producing linalool at that point in time, and vice versa when the bacterial oscillation reaches its crest.
<br><br>
Stochastic Model
We built a stochastic model for the concentration of linalool produced by the bacteria having the quorum sensing circuit in it, by simulating the model using the Gillespie Algorithm, where we treat each reaction/occurrence as an event and determine which event takes place in each timestamp. We then add/subtract an entity from the current number of molecules of that entity for that timestamp, based upon how the number of molecules of that entity changes upon one occurrence of that particular event.
<br><br>
The reason for building the stochastic model is to study the effect of noise in our Linalool production circuit, and observe whether noise can enhance or diminish the amount of linalool produced by the bacteria, because any biological system in contact with the outside environment will be influenced by several external factors which can subject the circuit a variety of noise levels, and hence, studying any biological system in the presence of external noise levels become extremely important.
<br><br>
The linalool production model In the presence of quorum sensing consists of 16 more events as stated below, in addition to the 19 events considered while simulating the quorum sensing model :-
</p>
<p>We simulate the events using the Gillespie Algorithm to obtain the stochastic linalool concentration curve produced by the bacteria with time. The plot is given below :-
</p>
<img src="https://static.igem.wiki/teams/5425/drylab/linalool-stochastic.webp">
<p>Chemical Master Equation :-<br>
We thus determine the Master Equation of our MEV circuit governing the probabilities of each state in the circuit.
<br><br>
The Master Equation is thus defined as :-
<br><br>
P(n,t)t  =  j=135 [ αj(n – vj) P(n – vj, t) – αj(n) P(n,t) ]
<br><br>
where,  
P(n,t) = Probability of the system being in the state n at time t.
For the MEV model, we have :-<br>
n = [ n1, n2, n3, n4, n5, n6, n7, n8, n9, n10, n11, n12, n13, n14, n15, n16, n17, n18, n19, n20, n21 ]T  ,  ni  R,  ∀ I  {1,2,….,21},<br> 
such that :-<br>
         n1 = LuxI(t)<br>
         n2 = AHL(t)<br>
         n3 = LuxR(t)<br>
         n4 = A2R2(t)<br>
         n5 = tetR(t)<br>
         n6 = AiiA(t)<br>
         n7 = CCA(t)<br>
         n8 = N(t)<br>
         n9 = S(t)<br>
         n10 = E(t)<br>
         n11 = ACA(t)<br>
         n12 = AAC(t)<br>
         n13 = HMG(t)<br>
         n14 = MV(t)<br>
         n15 = MVP(t)<br>
         n16 = MVPP(t)<br>
         n17 = IPP(t)<br>
         n18 = DMAPP(t)<br>
         n19 = GPP(t)<br>
         n20 = Li(t)<br>
         n21 = Lo(t)<br>
vj = [ vj1, vj2, vj3, vj4, vj5, vj6, vj7, vj8, vj9, vj10, vj11, vj12, vj13, vj14, vj15, vj16, vj17, vj18, vj19, vj20, vj21]T  ,  vji  Z,  ∀ I  {1,2,….,21},
where vji = change in the number of molecules of the ith species by one   
         occurrence of the jth event.
αj(n) = Propensity function of the jth event as a function of n.
<br><br>
P(n21,t) = P(Lo,t)  External Linalool Master Equation, 
which gives us the probability of having [Lo] concentration of linalool on the shoe insole at a certain time t.
<br><br>
To determine P(Lo,t), we run numerous realizations of our stochastic model using the Gillespie Algorithm to plot the Stationary Distribution of Linalool concentration over the time interval, 50 &lt t (in hours) &lt 550, for the bacterial population with quorum sensing and find out the probabilities of the amount of linalool produced being at a particular concentration during the time interval.
<br><br>
The Stationary Distribution of linalool concentration, within 50 &lt t (in hours) &lt 550, is given below :-
</p>
<img src="https://static.igem.wiki/teams/5425/drylab/stationary-distribution-linalool.webp">
<p>Observation :-<br>
We observe that external noise doesn’t create much of an effect over the amount of linalool produced by the bacteria. It however makes the oscillatory dynamics in linalool production a bit more vigorous, making the oscillation more prominent that what is observed in the deterministic model. Except that, the amount of linalool produced is observed to be almost the same for both the stochastic and deterministic models, indicating that noise doesn’t have any effect on linalool production by our bacteria.
<br><br>
Parameter Space Analysis<br>
We perform parameter space analysis for the parameters ‘ke’ and ‘de’ to determine the how the linalool production varies upon changing the parameters ‘ke’ and ‘de’ for examination of the optimum parameter space for our model.<br>
Ke – Promoter Strength<br>
de – Degradation Rate of each Enzyme<br>
We therefore plot a 1010 array in Python, with the 2 axes representing the 2 parameters:-<br><br> 
X axis – enzyme degradation rate (de) ,<br> 
Y axis – promoter strength (ke)<br>
With each grid indicating a certain parameter space of the form: (de , ke).</p>
<img src="https://static.igem.wiki/teams/5425/drylab/linalool-parameter.webp">
<p>
NOTE: The ke and de values used here are taken from the most suitable parameter space for obtaining the best desired result from the quorum sensing model
<br><br>
An Interesting Observation :-<br>
We observe that the amount of linalool produced remains around the desired value of 1750 nM, which we have chosen as the optimum amount for linalool production, over a wide range of parameter space, thereby indicating that even large fluctuations in the degradation rate of the enzymes, as well as fluctuations in the promoter activity, shouldn’t have too much off an effect on the amount of linalool produced by the circuit.
<br><br>
Linalool Diffusion Model<br>
We animate the diffusion of linalool produced by the bacteria living on the bacterial medium inside the shoe insole, through the semipermeable membrane of the insole into the outside environment of the insole, using the Gray-Scott diffusion model to demonstrate the entire diffusion process of linalool through the insole material in a better way other than simplistic ODEs.
<br><br>
The linalool diffusion model through the insole membrane follows the throupled Reaction-Diffusion equation system as given below :-<br>
 ∂N∂t = DN2N + f  ,           f = reaction term
 <br><br>
 ∂S∂t = DS2S + g  ,            g = reaction term
 <br><br>
 ∂L∂t =  { DL2L – v*L , if row = 1 }
                    { DL2L , if row = 2 }
                    { DL2L + h, if row = 3 }  ,            h = reaction term

where, f = f(LuxI, AHL, LuxR, A2R2, tetR, CCA, AiiA, N, S) = dNdt 
                                                                             [Equation (8)]
            g = g(LuxI, AHL, LuxR, A2R2, tetR, CCA, AiiA, N, S) = dSdt
                                                                             [Equation (9)]
            h = h(LuxI, AHL, LuxR, A2R2, tetR, CCA, AiiA, N, S, E, ACA, AAC, HMG, MV, MVP, MVPP, IPP, DMAPP, GPP, Li) =  d[Li]dt  
                                                                            [Equation (20)]
</p>
<p>We took a 3  26 hexagonal grid and used the finite difference method to solve the coupled reaction-diffusion PDE system. The reason for choosing such a grid system is stated below :-
The bottom row in the grid system represents the space just above the bacterial medium, where the linalool produced directly by the bacteria, “Li”, gets accumulated.
The middle row represents the insole material/membrane, through where internal linalool produced by the bacteria, “Li”, travels to reach the outer environment above it.
The top row represents the space just above the shoe insole, that is, the outside environment, where the internal Linalool, “Li”, diffuses out to from inside the insole. This outer Linalool, “Lo”, also has its own rate of evaporation, “v”, by which is slowly gets lost into the environment.
This is therefore a cross sectional view of the shoe insole!

The model is simulated over a timespan of 7 &lt t (in hours) &lt 44 to generate the animation of the diffusion of linalool through the insole material with time. The animation is given below.
</p>
<img src="https://static.igem.wiki/teams/5425/drylab/91gd67-ezgif-com-gif-to-webp-converter.webp">
<p>
An Interesting Observation :-<br>
Note that the linalool diffusion occurs from inside the insole out to the external environment above the insole. We observe that after a period of around 36 hours, the linalool concentration both inside and outside the insole reaches equilibrium, and proceeds to remain constant until the bacterial population onsets its death phase.
<br><br>
Conclusion<br>
We observe, through in silico, that the bacteria produces linalool in an efficient manner. Due to the presence of the quorum sensing circuit in the bacteria, linalool gets produced in a sustained manner over a long period of time, due to enhanced population life of the bacteria, approximately over more than 25 days, rather than only getting produced for 10 days in case of a normal bacterial population.<br>
We therefore verify our goal of producing linalool through the mevalonate pathway inside our bacteria, and produce it in a sustained manner with the help of quorum sensing.
<br><br>
References<br>
https://2019.igem.org/Team:XJTU-CHINA<br>
https://2021.igem.org/Team:FAFU-CHINA<br>
https://chem.libretexts.org/Bookshelves/General_Chemistry/Book%3A_Structure_and_Reactivity_in_Organic_Biological_and_Inorganic_Chemistry_(Schaller)/IV%3A__Reactivity_in_Organic_Biological_and_Inorganic_Chemistry_2/02%3A_Mathematical_Tools_in_Reaction_Kinetics/2.06%3A_Characterization-__The_Mathematics_Behind_Enzyme_Kinetics<br>
https://2023.igem.wiki/iiser-kolkata/<br>
https://2021.igem.org/Team:HZAU-China/Model<br>
</p>
    </div>
    </div>
    <div class="cover-sheet"></div>
    </body>
\

{% endblock %}  
