{% extends "layout.html" %}

{% block title %}Parts{% endblock %}
{% block lead %}Describe the parts you used in your iGEM project.{% endblock %}

{% block page_content %}
<img src="https://static.igem.wiki/teams/5425/bacteria-8107336.png" style="height:200px; width:200px; border-radius: 20px; margin-left: 42%;" class="items-center w-full h-96 mt-20" alt="Inclusivity Banner">

<!-- Heading Section -->
<div class="heading" style=" padding: 20px; border-radius: 10px;">
    <h1 class="text-6xl font-bold text-center">parts</h1>
</div>

{% endblock %}  
