<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} | IISER-Kolkata - iGEM 2024{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    

    <link
      rel="shortcut icon"
      href="https://static.igem.wiki/teams/5425/foot-on-sole.png"
    />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.js"
      crossorigin="anonymous"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- <title>IISER || KOLKATA</title> -->
    <link rel="stylesheet" href="{{ url_for ('static', filename='/css/output.css')}}">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* For smoother dropdown transition */
      .dropdown-content {
        transition: opacity 0.3s ease-in-out;
      }
    </style>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">
    <div class="absolute w-full flex justify-center lg:translate-y-[-80px]">
      <img
        src="https://static.igem.wiki/teams/5425/page-elements/layout/1-66fb053b8ad17.webp"
        alt="flower bg"
        class="w-full h-[300px] lg:h-[350px] align-items-fixed object-cover pt-5 mt-20 lg:mt-0"
      />
    </div>
  
  

   {% include 'menu.html' %}
<main class="flex-grow mb-10 bg-amber-50 pt-20" style="background-image: url('https://static.igem.wiki/teams/5425/petals.png');">
  {% block page_content %}{% endblock %}
</main>

    <script>
      function handleMenu() {
        const navDialog = document.getElementById("nav-dialog");
        navDialog.classList.toggle("hidden");
      }

      function toggleDropdown(id) {
        const dropdown = document.getElementById(id);
        dropdown.classList.toggle("hidden");
      }
    </script>
  </body>
</html>