:root {
    --primary-bg-color: #b29ce4;
    --primary-text-color: #6e5b9a;
    --secondary-bg-color: #D7C8eD;
    --border-radius: 20px;
    --transition-duration: 0.5s;
}

body {
    background-color: var(--secondary-bg-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#scrollToTopBtn:hover {
    transform: scale(1.1);
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.styled-iframe {
    width: 95%;
    height: 700px;
    margin: 30px 40px 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.styled-iframe:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hero {
    background-image: url('https://static.igem.wiki/teams/5425/dall-e-2024-08-27-00-08-38-a-visually-striking-rectangular-image-suitable-for-a-hero-section-depicting-a-modern-experimental-laboratory-environment-the-lab-features-sleek-sta.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    padding: 60px 0;
    text-align: center;
    min-height: 50vh;
}

.hero-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

/* Updated Button Design */
.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #c9bfbf;
    background-color: #908e8e;
    border: 2px solid #de5757;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

/* Hover Effect */
.button:hover {
    color: #472626;
    background-color: #c9bfbf;
    border-color: #472626;
    transform: scale(1.05);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

/* Button Active State */
.button:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    background-color: #de5757;
    color: #ffffff;
    border-color: #c9bfbf;
}

#design {
    font-size: 8em;
    font-family: 'Bubblegum Sans', cursive;
    font-weight: bold;
    color: #c9bfbf;
    letter-spacing: 2px;
    padding-top: 60px;
    text-shadow: 3px 3px 10px #e30b0b;
    text-transform: uppercase;
    text-decoration: underline wavy;
    animation: fadeIn 2s ease-in-out 1, retroHover 3s infinite alternate ease-in-out;
}

/* New Retro Animation */
@keyframes retroHover {
    0% {
        transform: skew(-10deg) scale(1);
        text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
    }
    50% {
        transform: skew(-8deg) scale(1.02);
        text-shadow: 7px 7px 0px rgba(0, 0, 0, 0.7);
    }
    100% {
        transform: skew(-10deg) scale(1);
        text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
    }
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content-section {
    margin-bottom: 20px;
    border: 2px solid #000000;
    border-radius: var(--border-radius);
    padding: 20px;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-text-color);
}

.content-section:hover {
    border-color: black;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6), 0 3px 6px rgba(0, 0, 0, 0);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.content-section h2 {
    margin-top: 0;
    color: var(--primary-bg-color);
}

.content-section:hover h2 {
    color: var(--primary-text-color);
    transition: all 0.3s ease-in-out;
}
